<!-- search bar -->
</br><label >Search</label>
 <input type="text" ng-model="search" class="form-control" placeholder="Search"> </br>
<!-- dynamic table -->
<table class="table" >
<tr>
<th>
<a href="" ng-click="sort('firstName')">Firstname</a>
    </th>
    <th><a href="" ng-click="sort('lastName')">Lastname</a>
    </th>
    <th ><a href="" ng-click="sort('email')">Email id</a>

    </th>
     <th ><a href="" ng-click="sort('phoneNumber')">Phone no</a>
    </th>
     <th >
     <a href="" ng-click="sort('address')">Address</a>
    </th>
  </tr>
     <!-- populating table -->
     <tr ng-repeat="x in dataArray | orderBy:orderByField:reverseSort | filter:search  ">
     

    <td>{{x.firstName}}
    </td>
    <td>{{x.lastName}}
    </td>
    <td>{{x.email}}
    </td>
    <td>{{x.phoneNumber}}
    </td>
    <td>{{x.address}}
    </td>
    </tr>
  </table> 