<h2>Products</h2>
<form >
<div class="container">
	<div class="form-group">
	  <label class="col-md-4 control-label" for="textinput">Product name</label>  
	 	 <div class="col-md-4">
	  			<input id="textinput" name="textinput" type="text" placeholder="Enter a product name" ng-model="productname" class="form-control input-md">
	    
		 </div>
 	 </div>
 	 </br>
 	 </br>
 	  <div class="form-group">
  			<label class="col-md-4 control-label" for="selectbasic">Category</label>
  	  <div class="col-md-4">
            <select id="selectbasic" name="selectbasic" class="form-control" ng-model="category" ng-options="user.type for user in categoryArray" ng-change="search()">
            <option value="" selected="selected">Select Category</option>
			      
    		</select>
  </div>
</div>
     </br>
 	 </br>
 	  <div class="form-group">
  			<label class="col-md-4 control-label" for="selectbasic">Subcategory</label>
  	  <div class="col-md-4">
            <select id="selectbasic" name="selectbasic1" class="form-control"  ng-model="subcategory" 
            ng-options="sub.subtype for sub in available">
            <option value="">Select Subcategory</option>
			      
    		</select>
  </div>
</div>
 </br>
 	 </br>
 	  <div class="form-group">
  			<label class="col-md-4 control-label" for="selectbasic">Selectuser</label>
  	  <div class="col-md-4">
            <select id="selectbasic" name="selectbasic" class="form-control" ng-model="selectuser" 
            ng-options="user.firstName +' '+ user.lastName for user in productArray" >
            <!-- user.firstName for user in dataArray  -->
             <option value="" selected="selected">Select User</option>
			      
    		</select>
  </div>
</div>
</br>
</br>
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">Images</label>
  <div class="col-md-4">
    <input id="filebutton" name="filebutton" class="input-file" type="file" ng-model="images">
  </div>
</div>
</br>
<div>
	</br> <!-- <button type="button" ng-model="button" class="btn btn-primary">Save</button> -->
	</div class="form-group">
      <div class="col-lg-offset-2">
          <button class="btn btn-success">    Save  </button>
      </div>
      </div>
</div>


</form>






  </div>